*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.3em;
}

.mainHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px #757575
}

.mainHeader h1{
    color: white;
    margin-left: 20px;
}

.mainHeader img{
    width: 70px;
    height: auto;
}

.recipes{
    display: flex;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.recipes a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.recipes a:hover{
    color: #333;
}

.recipeOne{
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 15px;
    padding: 5px;
    background-image:url(../img/spagetthi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipeOne h2{
    margin-bottom: 10px;
}

.recipeTwo{
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 15px;
    padding: 5px;
    background-image:url(../img/chicken.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipeTwo h2{
    margin-bottom: 10px;
}

.recipeThree{
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 15px;
    padding: 5px;
    background-image:url(../img/spagetthi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipeThree h2{
    margin-bottom: 10px;
}

.recipeIN{
    display: flex;
}

.ingrediants h3{
    margin: 5px 0px;
}

.ingrediants h2{
    text-align: center;
    margin-bottom: 10px;
}

.ingrediants{
    border: 2px solid black;
    background-color: #d4d4d4;
    border-radius: 5%;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 20px;
}

/* Recipe One Page*/

.ArticleOne{
    margin: 30px;
}

.sArticle{
    display: flex;
    margin-bottom: 30px;

}

.sArticle h2{
    margin-bottom: 5px;
    text-align: center;
}
.ArticleOne img{
    max-width: 250px;
    height: auto;
    border: 2px solid black;
    border-radius: 5%;
    margin-right: 15px;
}